<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Product</title>
  </head>
  <body>
    <h1>Add Product</h1>
    <form action="/products" method="post">
      <label for="name"
        >Nama Produk :
        <input type="text" name="name" id="name" />
      </label>
      <label for="brand"
        >Brand Produk :
        <input type="text" name="brand" id="brand" />
      </label>
      <label for="color"
        >Warna Produk :
        <input type="text" name="color" id="color" />
      </label>
      <label for="price"
        >Harga :
        <input type="number" name="price" id="price" />
      </label>
      <label for="category"
        >Category :
        <select name="category" id="category">
          <option value="">Pilih Category</option>
          <option value="Aksesoris">Aksesoris</option>
          <option value="Jaket">Jaket</option>
          <option value="Celana">Celana</option>
          <option value="Baju">Baju</option>
        </select>
      </label>
    </form>
  </body>
</html>
